.container {
  max-width: 500px;
  background-color: var(--secondary-color);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  padding: 5px;
}

.buttonSVG,
.button {
  padding: 0;
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: none;
  fill: white;
}

.nextSVG,
.prevSVG,
.nextButton,
.prevButton {
  padding: 0;
  width: 20px;
  background-color: transparent;
  border: none;
  fill: white;
}
