.player {
  background-color: var(--secondary-color);
  border-radius: 15px 15px 0 0;
  display: grid;
  width: 500px;
  justify-items: center;
}

.like {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  fill: red;
}

.playButton {
  padding: 0;
  width: 70px;
  height: 70px;
  background-color: var(--background-color);
  border: none;
  border-radius: 100px;
  fill: white;
}
