.container {
  display: grid;
  justify-items: center;
  text-align: center;
}

.img {
  max-width: 500px;
  padding: 2em;
}

.title {
  font-size: 3em;
  font-weight: bolder;
}

.artist {
  padding: 1em;
  font-size: 2em;
}
