.globalcont {
  display: grid;
  justify-content: center;
  align-content: space-between;
}

.container {
  width: 500px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0 2em 0 2em;
}

.backButton {
  background-image: url("/backbutton.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  width: 2em;
  height: 2em;
}

.headtext {
  text-align: center;
  margin-right: 2em;
  color: var(--secondary-text-color);
}
